body {
  font-family: 'Roboto', sans-serif;
  color: var(-black-text);
}

ul {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0px auto;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}
