$white-text: rgb(255, 255, 255, 1);
$blue-text: rgb(33, 150, 243, 1);
$black-text: rgb(33, 33, 33, 1);
$gray-text: rgb(117, 117, 117, 1);
$gray-text-op60: rgb(255, 255, 255, 0.6);
$black-backgr: rgb(47, 48, 58, 1);
$gray-backgr: rgb(245, 244, 250, 1);
$bord: rgb(236, 236, 236, 1);
$bord-card: rgb(238, 238, 238, 1);
$gray-icon: rgb(175, 177, 184, 1);
$overlay: rgba(33, 150, 243, 0.9);
$modal: rgba(0, 0, 0, 0.2);
$button: rgba(0, 0, 0, 1);
$blue-modal: rgba(24, 140, 232, 1);
